<div class="vh-100 d-flex justify-content-center align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-4 card p-4 m-2">
                <form [formGroup]="loginForm" #myform="ngForm" (ngSubmit)="login(myform)">
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Username</label>
                        <input type="text" class="form-control" id="exampleInputEmail1" formControlName="userName" required>
                        <div class="text-danger" *ngIf="loginForm.controls['userName'].invalid && (loginForm.controls['userName'].dirty ||loginForm.controls['userName'].touched || blnSubmitted)">
                            <div *ngIf="loginForm.controls['userName'].errors?.required">
                                Required
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password" required>
                        <div class="text-danger" *ngIf="loginForm.controls['password'].invalid && (loginForm.controls['password'].dirty ||loginForm.controls['password'].touched || blnSubmitted)">
                            <div *ngIf="loginForm.controls['password'].errors?.required">
                                Required
                            </div>
                        </div>
                        <div class="text-danger" *ngIf="blnLoginFailed">
                            Invalid credentials
                        </div>
                    </div>
                    <div>
                        <button type="submit" class="w-100 btn btn-primary">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>